.img{
  border: blue 1px solid;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  max-height: 250px;

  .img-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .img-item {
      flex: 1 0 19%;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .img-item img {
      width: 100px;
      height: auto;
      border: 1px solid #ccc;
      padding: 4px;
      border-radius: 4px;
    }
  }
}





