<div class="outer">
  <div class="container">
    <div class="header">
      <div class="tittle">
        <h1>Orders Management</h1>
      </div>
      <div class="col-12">
        <table class="table">
          <thead>
          <tr>
            <th>#ID</th>
            <th>Created Date</th>
            <th>Customer</th>
            <th>Product</th>
            <th>QTY</th>
            <th>Total</th>
            <th>Payment Type</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="context">
                dj-12da-cd &nbsp;
                <mat-icon class="copy">content_copy</mat-icon>
              </div>
            </td>
            <td>
              <div class="context">
                2024 Jan 22
              </div>
            </td>
            <td>
              <div class="context">
                Thushan Damjith
              </div>
            </td>
            <td>
              <div class="context">
                CR Books
              </div>
            </td>
            <td>
              <div class="context">
                250
              </div>
            </td>
            <td>
              <div class="context">
                2000
              </div>
            </td>
            <td>
              <div class="context">
               CARD
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
