<div class="outer">
  <div class="container">
    <div class="header">
      <div class="tittle">
        <h1>Customer Management</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <form action="">
          <input type="search" name="" id="" class="form-control" placeholder="search here..">
        </form>
      </div>
      <div class="col-12">
        <table class="table">
          <thead>
          <tr>
            <th>#ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Active Status</th>
            <th>Tools</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="context">
                dj-12da-cd &nbsp;
                <mat-icon class="copy">content_copy</mat-icon>
              </div>
            </td>
            <td>
              <div class="context">
                Thushan Damjith
              </div>
            </td>
            <td>
              <div class="context">
                <a
                  href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHxGqkzhShVDvxCckkLRWkJSMNmZdlSkMWxknDSTJmkGTDZQrKJwsNnwxPLGZNQmtmSJzFC">damjithFernando1{{'@'}}
                  gmail.com</a>
              </div>
            </td>
            <td>
              <div class="context">
                Mudukatuwa, Marawila
              </div>
            </td>
            <td>
              <div class="context">
                <a href="#">+971559749662</a>
              </div>
            </td>
            <td>
              <div class="context">
                <app-customer-status-manager [customer]="''"></app-customer-status-manager>
              </div>
            </td>
            <td>
              <div class="context">
                <div class="button">
                  <button color="warn" mat-icon-button matTooltip="Delete" aria-label="delete">
                    <mat-icon>delete_sweep</mat-icon>
                  </button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
